DEMO_MODE=1
DEFAULT_MODEL=demo
DASHSCOPE_API_KEY=
ZHIPU_API_KEY=
EMBEDDING_MODEL=local-demo-hash-64
EMBEDDING_DEVICE=cpu
HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
CHROMA_DB_PATH=./data/chroma_demo
ENABLE_SEARCH_CACHE=false
